.purple-primary {
    color: #6d1b99;
    border-color: #6d1b99 !important;
}

.purple-primary.btn:hover {
    color: white !important;
    background-color: #6d1b99 !important;
}

.purple-primary.btn:active{
    color: white !important;
    background-color: #6d1b99 !important;
}

.btn-check:checked + .btn{
    color: white !important;
    background-color: #6d1b99 !important;
}

a.purple-primary:link {
    color: #6d1b99 !important;
}

.purple-border {
    border-color: #6d1b99 !important;
}

.purple-secondary {
    color: white;
    border-color: white !important;
    background-color: #6d1b99;
}
.purple-secondary .btn:hover {
    color: #6d1b99 !important;
}

.overlay {
    position:absolute;
    top:0;
    left: 0;
    z-index: 10;
}